/*File responsible for how the navigation bar is displayed*/
nav{
    display:flex;
    align-items:center;
    background-color:var(--darkColor--);
    max-height:10vh;
    min-height:10vh;
    max-width:100vw;
}
    nav ul{
        display:flex;
        justify-content:space-around;
        width:90vw;
        list-style:none;
        color:var(--lightColor--)
    }
        nav ul li{
            width:20%;
            max-width:20%;
        }
            nav ul li a{
                font-weight:bold;
                font-style:italic;
                font-size:2.5rem;
                padding:.5rem;
                animation-fill-mode: forwards;
                animation-name:OUThoverOnfade;
                animation-duration:.35s;
            }
/*active page nav bar style*/
nav ul li a#active{
    background-color:var(--darkGreen--);
    animation-name:none;
    color:var(--darkColor--);
    padding: .2rem;
}
/*Animation and Effects*/
nav ul li a:hover{
    color:var(--darkColor--);
    animation-name:INhoverOnfade;
    animation-duration:.75s;
    cursor:pointer;
}
@keyframes INhoverOnfade{
    from{
        background-color:var(--darkColor--);
        color:var(--lightColor--);
    }
    to{
        background-color:var(--lightGreen--);
        color:var(--darkColor--);
    }
}
@keyframes OUThoverOnfade{
    to{
        background-color:var(--darkColor--);
        color:var(--lightColor--);
    }
    from{
        background-color:var(--lightGreen--);
        color:var(--darkColor--);
    }
}
/*styles for mobile*/
@media only screen and (max-width: 1000px){
    nav ul li a{
        font-size: 3.5vw;
    }
    nav img#logoNav{
        max-width: .1vw;
    }
    nav ul li a{
        padding: 0;
    }
}
/*style tweak for laptops*/
@media only screen and (max-width: 1400px) and (min-width: 1001px){
    nav ul li a{
        font-size: 2.5vw;
        max-width: 15vw;
    }
    nav img#logoNav{
        max-width: .1vw;
    }
    nav ul li a{
        padding: 0;
    }
    nav ul li a#active{
        background-color:var(--darkGreen--);
        animation-name:none;
        color:var(--darkColor--);
        padding: 0rem;
    }
}