footer {
    background-color: var(--depauwYellow--);
    min-height: 10vh;
    max-height: 10vh;
}
footer ul{
    display: flex;
    justify-content: space-around;
    font-size: 1.25vh;
}
footer ul a{
    color:var(--ptBlue--);
    text-decoration: none;
}
footer ul a:nth-child(2){
    text-align: center;
}
footer ul a:nth-child(n+3){
    background-color: white;
    flex-basis: 19vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img#footerLogo {
    height: 4vh;
}
footer a img{
    height: 2vh;
} 
/*media query for phones and tablets*/
@media only screen and (hover:none) {
    footer ul  a {
        font-size: 0rem;
    }
    img#footerLogo {
        height: 4vh;
    }
}