footer {
    background-color: var(--depauwYellow--);
    min-height: 10vh;
    max-height: 10vh;
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25vh;
}
footer ul a:nth-child(2){
    text-align: center;
}