main {
    background-color: var(--mainBlue--);
    display: grid;
    grid-template-rows: 15vh 0fr 40vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "addl addr"
        "info none"
        "screena screena"
    ;
    gap: 2rem;
}

div#leftAdd {
    grid-area: addl;
    margin: 1rem;
    border: 2px solid black;
}

div#rightAdd {
    grid-area: addr;
    margin: 1rem;
    border: 2px solid black;
}

div#nameInfoDiv {
    grid-area: info;
    display: flex;
    align-items: baseline;
}

div#nameInfoDiv h1 {
    font-size: 5vw;
}

div#nameInfoDiv p {
    font-size: 3vw;
}

div#settingsScreen {
    grid-area: screena;
    color: white;
}

div#nameInfoDiv {
    color: white;
}

div#settingsLables {
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
}

div#selectedOptionDisplay {
    border: 2px solid var(--depauwYellow--);
    height: 40vh;
    margin: 0 3rem;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

div#left {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

div#right {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#statsDiv, div#valueDiv {
    padding: 2rem 0;
}

div#statsDiv p, div#valueDiv p {
    font-size: 1.8vw;
    margin: 1rem 0;
}

div#left p#countdownP {
    font-size: 1vw;
    margin-top: 2rem;
}

textarea {
    height: 100%;
    width: 100%;
    margin: 1rem 0;
}

button {
    background-color: var(--depauwYellow--);
    border: 2px solid black;
    color: black;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1vw;
}

select, input {
    color: white;
    background-color: var(--mainBlue--);
    border-color: var(--depauwYellow--);
    font-size: 2vw;
}
input{
    color:white;
}
footer{
    margin-top: 3rem;
}
body{
    background-color: var(--mainBlue--);
}
/*media query for phones and tablets*/
@media only screen and (hover:none){
    main {
        display: grid;
        grid-template-rows: 20vh auto auto 20vh;
        grid-template-columns: 90vw;
        grid-template-areas: 
            "addl"
            "info"
            "screena"
            "addr"
        ;
        padding: 0;
        justify-content: center;
        align-content: stretch;
    }
    div#nameInfoDiv h1 {
        font-size: 10vw;
        text-align: center;
    }
    
    div#nameInfoDiv p {
        font-size: 10vw;
        text-align: center;
    }
    div#settingsLables{
        font-size: 5vw;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    div#selectedOptionDisplay{
        flex-direction: column;
        width: 100%;
        height: 70vh;
        padding: 0;
        margin: 1rem 0;
    }
    button{
        font-size: 1rem;
    }
    div#statsDiv,div#valueDiv{
        padding: 0;
    }
    div#statsDiv p{
        font-size: 4vw;
    }
    div#valueDiv p{
        font-size: 5vw;
    }
    div#right{
        flex-flow: column;
        gap:1rem;
    }
    select{
        font-size: 7.3vw;
    }
    button{
        width: 100%;
    }
    div#left p#countdownP {
        font-size: 3vw;
        padding: 1rem;
    }
    textarea{
        height: 20vh;
    }
    input{
        font-size: 6vw;
    }
}